<p><%= block.class.name %> <%= block.id %></p>
<p>Find me in /app/views/blocks/ImageGalleryBlock/_ImageGalleryBlock.html.erb</p>

<% block.images.each do |image| %>
  <%= responsive_image image %>
<% end %>
