// Blocks

.block_slots {
  overflow: auto;
}

.block-kind__select2-response__icon {
  line-height: 1.4;
  vertical-align: top;
}

.nested-fields,
[data-collapse-parent] {
  &.collapsed {
    .panel-body {
      display: none;
    }
  }
}

.nested-fields {
  margin-bottom: map-get($spacers, 3);
}

.block-slot-field-template {
  display: none;
}
