// Blocks

.block_slots {
  overflow: auto;
}

.block-kind__select2-response__icon {
  line-height: 1.4;
  vertical-align: top;

  .select2-results__option--highlighted & {
    filter: invert(1);
  }
}

[data-collapse-parent] {
  &.collapsed {
    [data-collapse-body] {
      display: none;
    }
  }
}

.collapse-trigger__chevron-down {
  .collapsed & {
    display: none;
  }
}

.collapse-trigger__chevron-up {
  display: none;

  .collapsed & {
    display: block;
  }
}

.nested-fields {
  margin-bottom: map-get($spacers, 3);
}

.block-slot-field-template {
  display: none;
}

.block-slot-field__buttons {
  min-width: 96px;
  text-align: right;
}

.block-slot-field__button--low-priority {
  opacity: 0;
  transition: opacity 0.1s;
}

.block-slot-field__button--collapse-block {
  border-top-left-radius: 0.2rem !important;
  border-bottom-left-radius: 0.2rem !important;
}

.block-slot {
  &:hover {
    .block-slot-field__button--low-priority {
      opacity: 1;
    }

    .block-slot-field__button--collapse-block {
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
    }
  }
}

.block-slot__block-kind-description {
  line-height: 1.1;
  display: flex;
  align-self: center;
}
