// Forms

.was-validated .form-check-input:valid ~ .form-check-label,
.form-check-input.is-valid ~ .form-check-label {
  &.boolean {
    color: inherit;
  }
}

.form-group-invalid {
  .invalid-feedback {
    display: block;
  }

  label {
    color: $red;
  }

  .btn {
    color: $red;
    border-color: $red;

    &:hover {
      color: $white;
    }
  }

  .media-gallery-preview-wrapper,
  .media-gallery-preview .card-body {
    background-color: #f8d7da !important;
    color: #721c24;
  }
}

// Color picker
.form-control.color {
  padding: 0;
}

.alert {
  .glyphicon {
    vertical-align: middle;
  }
}

// Custom country/state select behavior
.country--united-states {
  .state-input--text {
    display: none;
  }

  .state-input--select {
    display: block;
  }
}

.state-input--select {
  display: none;
}

.image-input__body--compact-true {
  .media-item-chooser__image-wrapper {
    width: 100px;
    max-width: 100%;
  }
}
