// Forest tables

.forest-table {
  tbody {
    tr {
      cursor: pointer;

      &:hover {
        color: $table-hover-color;
        background-color: $table-hover-bg;
      }
    }
  }
}

.table-thumbnail {
  width: 100px;
  height: 100px;

  img {
    max-height: 100%;
  }
}

.table-color-representation {
  width: 1.6em;
  height: 1.6em;
  // border-radius: $border-radius-base;
}
