// Forms

.was-validated .form-check-input:valid ~ .form-check-label,
.form-check-input.is-valid ~ .form-check-label {
  &.boolean {
    color: inherit;
  }
}

.form-group-invalid {
  .invalid-feedback {
    display: block;
  }

  label {
    color: $red;
  }

  .btn {
    color: $red;
    border-color: $red;

    &:hover {
      color: $white;
    }
  }
}
