.select2-container {
  min-width: 200px;
  max-width: 100%;
}

.select2-container--bootstrap4 .select2-results__option--highlighted[aria-selected], {
  .text-muted {
    color: #fff !important;
  }
}

.form-group.date {
  select.date {
    width: 32%;
  }

  .select2-container {
    min-width: 100px;
  }
}

.select .select2-container {
  width: 100% !important;
}

.select2-dropdown {
  z-index: 1010;
}
