.form-group.sortable {
  .ui-sortable-placeholder {
    float: left;
    margin: 5px 3px 0 0;
    padding: 0 0 0 6px;
    border: 1px solid transparent;
    border-radius: 4px;
  }

  .select2-container--bootstrap4 .select2-selection--multiple .select2-selection__choice {
    cursor: move;
  }
}

.select2-response__status {
  display: inline-block !important;
  margin-right: 5px !important;
  margin-top: -2px !important;
  vertical-align: middle !important;
  width: 9px !important;
  height: 9px !important;
}

.select2-response__id {
  color: #aaa;
  font-size: smaller;
}
