.nested-fields,
[data-collapse-parent] {
  &.collapsed {
    .panel-body {
      display: none;
    }
  }
}

.nested-fields__panel-display-icon {
  margin-right: 10px;
}

.block-slot-field-template {
  display: none;
}
