.block-layout__panel-heading {
  padding-right: $gutter + 40px;
  position: relative;
}

.block-layout__title {
  line-height: 1;
  padding: 5px 0;
  margin-bottom: 0;
}

.block-collapse-button {
  position: absolute;
  top: 10px;
  right: $gutter;
}

.block-type-header-title {
  display: inline-block;
  padding-right: 40px;
}

.block-layout__description {
  margin-bottom: $gutter;
}

.block-slot-field__button--low-priority {
  opacity: 0;
  transition: opacity 0.1s;
}

.block-slot {
  &:hover {
    .block-slot-field__button--low-priority {
      opacity: 1;
    }
  }
}

.block-slot__panel-heading {
  position: relative;
}

.block-slot__buttons {
  position: absolute;
  top: 10px;
  right: $gutter;
}
