.block-type-field-template {
  display: none;

  &.active {
    display: block;
  }
}

.nested-fields {
  &.collapsed {
    .panel-body {
      display: none;
    }
  }
}

.nested-fields__panel-display-icon {
  margin-right: 10px;
}
