.select2-container--bootstrap .block-kind-selector .select2-results > .select2-results__options {
  max-height: 40vh;
}

.select2-container--bootstrap .block-kind-selector .select2-results__group {
  background: $well-bg;
  border-top: 1px solid $panel-default-border;
  border-bottom: 1px solid $panel-default-border;
  font-size: larger;
  font-weight: normal;
}

.select2-container--bootstrap .block-kind-selector .select2-results__option .select2-results__option {
  border-bottom: 1px solid $panel-default-border;

  &:last-child {
    border-bottom: 0;
  }
}
