.not-resizable {
  resize: none;
}

.form-group.color {
  .input-group {
    width: 100%;
  }
}

.form-control.color {
  width: calc(100% - 100px);
  padding: 0 2px;
  cursor: pointer;
}

.color-input__hex-tracker {
  min-width: 100px;
  line-height: $line-height-base;
  background-color: $white;
}

.form-group.image {
  .btn-group + .image + .help-block {
    margin-top: -10px;
  }
}

.persisted-value-warning {
  margin-bottom: 10px;
}

.form-control.datepicker {
  cursor: pointer;
}
