// Forest tables

.forest-table {
  tbody {
    tr {
      cursor: pointer;
    }
  }
}

.table-thumbnail {
  width: 100px;
  height: 100px;
}

.table-color-representation {
  width: 1.6em;
  height: 1.6em;
  border-radius: $border-radius-base;
}
