// Display
.block        { display: block; }
.inline       { display: inline; }
.inline-block { display: inline-block; }

// Vertical alignment
.va-top      { vertical-align: top; }
.va-middle   { vertical-align: middle; }
.va-bottom   { vertical-align: bottom; }
.va-baseline { vertical-align: baseline; }

.text-light {
  color: #ddd;
}

.cursor-pointer { cursor: pointer; }

@include breakpoint(sm) {
  .text-right-sm { text-align: right; }
  .text-center-sm { text-align: center; }
}

@include breakpoint(md) {
  .text-right-md { text-align: right; }
  .text-center-md { text-align: center; }
}
