.media-item-chooser__image,
.media-item-chooser__button,
.media-item-chooser__remove-image {
  margin-bottom: $gutter;
}

.media-item-chooser__image {
  display: block;
  width: 300px;
  max-width: 100%;
  max-height: 250px;

  &:hover {
    filter: brightness(95%);
  }
}

.media-item-chooser {
  .fileupload {
    margin-top: $gutter * 2;
  }
}

.media-library-link {
  display: block;
}

.media-library-link--selected {
  &:before {
    @include glyphicon-ok;
    position: absolute;
    width: 1em;
    height: 1em;
    top: -0.5em;
    right: 0;
    z-index: 1;
    font-size: 14px;
    padding: 4px;
    box-sizing: content-box;
    border-radius: 3px;
    color: white;
    background: $brand-primary;
    border: 1px solid white;
    outline: 1px solid $brand-primary;
  }

  &:hover {
    &:before {
      content: "\e014";
    }
  }
}

.media-item--grid {
  &:hover {
    .media-item__buttons {
      display: block;
    }
  }
}

.media-item__buttons {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
}

.media-item__button {
  width: 1em;
  height: 1em;
  top: -0.5em;
  right: 0;
  z-index: 1;
  font-size: 14px;
  padding: 4px;
  box-sizing: content-box;
  border-radius: 3px;
  color: white;
  background-color: rgba($brand-primary, 0.4);
  border: 1px solid white;
  outline: 1px solid rgba($brand-primary, 0.4);
  cursor: pointer;

  &:hover {
    background-color: $brand-primary;
    outline: 1px solid $brand-primary;
  }
}

.modal {
  .media-item__buttons {
    display: none !important;
  }
}

.media-gallery-preview-wrapper--no-images {
  cursor: pointer;

  &:hover {
    background-color: darken($well-bg, 5%);
  }
}

.media-gallery-preview-wrapper--has-images {
  padding-bottom: 5px;
}

.media-gallery-preview {
  .media-library-link {
    cursor: move;
  }
}

.gallery {
  margin-bottom: 0;

  .media-item-chooser__button {
    margin-bottom: 0;
  }

  .sortable-placeholder {
    float: left;
    background-color: darken($well-bg, 10%);
    margin: 0 0 $gutter;
    padding: 0 ($gutter / 2);
    border-radius: 3px;

    &:before {
      content: '';
      display: block;
      height: 0;
      padding-bottom: 100%;
    }
  }
}
