.fileupload-dragover {
  body {
    &:before {
      @include glyphicon-upload;
      color: #fff;
      position: fixed;
      top: 50%;
      left: 50%;
      font-size: 152px;
      transform: translate(-50%, -50%);
      text-shadow: 0 0 5px rgba(0, 0, 0, 1);
      z-index: 1200;
      pointer-events: none;
    }
  }
}

.media-library-image-row {
  max-width: 100px;
}

.media-library-image {
  margin-bottom: 15px;
  height: 0;
  padding-bottom: 100%;
  background-size: cover;
  background-position: center;
  background-color: $gray-light;
  position: relative;
}

.media-library-image--grid__icon {
  color: #bfbfbf;
  font-size: 60px;
  position: absolute;
  top: 33.33%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

.media-library-image--list__icon {
  color: #bfbfbf;
  font-size: 40px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.media-library-link--file {
  @include blank-link;
}

.media-library-image__label {
  padding: 10px;
  position: absolute;
  bottom: 0;
  background: white;
  margin-bottom: 0;
  width: 100%;
  text-align: center;
}

.media-library-image--list {
  margin-bottom: 0;
}

.media-library__list-actions {
  visibility: hidden;
}

.media-library__list-table-row {
  &:hover {
    .media-library__list-actions {
      visibility: visible;
    }
  }
}

.media-item-file {
  display: inline-block;
  width: 100%;
  max-width: 200px;
  height: 200px;
  background-color: #f1f1f1;
  position: relative;
}

.media-item-file__icon {
  color: #bfbfbf;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
}
