.media-item-chooser__image,
.media-item-chooser__button,
.media-item-chooser__remove-image {
  margin-bottom: $gutter;
}

.media-item-chooser__image {
  display: block;
}

.media-item-chooser__image {
  max-width: 300px;
  max-height: 300px;

  &:hover {
    filter: brightness(95%);
  }
}
