.sortable-handle {
  cursor: move;
}

.ui-sortable-helper {
  .sortable-handle {
    background-color: darken($panel-default-heading-bg, 6.5%);
  }
}

.ui-sortable-placeholder {
  margin-bottom: 18px;
}
