// Sortable field sets

.sortable-field-set {
  .ui-sortable-placeholder {
    float: left;
    background-color: darken($well-bg, 10%);
    margin: 0 0 $gutter;
    padding: 0 ($gutter / 2);
    border-radius: 3px;

    &:before {
      content: '';
      display: block;
      height: 0;
      padding-bottom: 100%;
    }
  }
}

.sortable-field-set__handle {
  cursor: move;
}
