<div class="devise-card">
  <h1 class="h2 text-center mb-3">Registrations not supported</h1>
  <% if flash.present? %>
    <div class="mb-3">
      <%= render 'admin/flash_notifications' %>
    </div>
  <% end %>
  <%= render 'devise/shared/links' %>
</div>
