<div class="admin-header">
  <div class="well">
    <h1 class="h2">
      Dashboard
    </h1>
  </div>
</div>

<% @_rendered_resources = [] %>

<%= render 'admin/dashboard/panel',
           title: 'Content',
           resources: [Page, MediaItem] %>

<%= render 'admin/dashboard/panel',
           title: 'Admin',
           resources: @admin_resources - @_rendered_resources %>
