<% multi_upload = local_assigns.fetch(:multi_upload, false) %>
<%= simple_form_for [:admin, klass.new],
                    html: {
                      multipart: true,
                      id: 'fileupload',
                      class: "fileupload fileupload--#{klass.model_name.singular} #{'file-multi-upload' if multi_upload}" } do |f| %>
  <div class="hidden">
    <%= f.input association %>
  </div>
  <div id="progress" class="progress hidden">
    <div class="progress-bar progress-bar-success"></div>
  </div>
  <div class="fileupload-loading"></div>
  <table class="fileupload__table table table-striped table-sm"><tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody></table>
<% end %>
