<%= admin_header_tag(record) do %>
  <% if notice %>
    <div class="alert alert-info alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <%= notice %>
    </div>
  <% end %>
  <div class="well">
    <div class="row">
      <div class="col-sm-4">
        <h1>New <%= record.class.model_name.singular.titleize %></h1>
      </div>
      <div class="col-sm-8 text-right">
        <%= link_to 'Back', send("#{record.class.model_name.route_key}_path"), class: 'btn btn-default' %>
      </div>
    </div>
  </div>
<% end %>
