// Colors
$gray-light: #f1f1f1;
$gray-dark: #333333;

$gutter: 15px;

// Breakpoints
// $breakpoint-extra-small : 480px;
// $breakpoint-small       : 768px;
// $breakpoint-medium      : 1092px;
// $breakpoint-large       : 1400px;
