<li class="dd-item" data-id="<%= list_item['id'] %>">
  <div class="dd-content form-group">
    <div class="dd-handle">Item <%= list_item['id'] %></div>
    <div class="dd-input">
      <label for="navigationLabel">Navigation label</label>
      <input type="text" class="dd-input__input form-control" name="navigationLabel">
    </div>
  </div>
  <% if list_item['children'] %>
    <ol class="dd-list">
      <%= render partial: 'list_item', collection: list_item['children'] %>
    </ol>
  <% end %>
</li>
