<% if record.try(:statusable?) && !record.try(:published?) %>
  <div class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    This <%= record.model_name.human %> is currently <strong><%= record.status.humanize(capitalize: false) %></strong> and is not visible to the public.
  </div>
<% end %>

<% if record.try(:draft?) %>
  <div class="row">
    <br>
    <div class="col-sm-6">
      <p class="text-muted">
        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
        This <%= record.model_name.human %> is in Draft mode. You can make edits and update the <%= record.model_name.human %> and the changes will not be visible to the public.
        You can preview the draft, and when you are ready to make the changes live, switch the status back to published.
      </p>
    </div>
  </div>
<% end %>
