<%= admin_header_tag(record) do %>
  <div class="well">
    <div class="row">
      <div class="col-sm-6">
        <h1>New <%= record.class.model_name.human %></h1>
      </div>
      <div class="col-sm-6 text-right">
        <%= link_to 'Back',
                    back_button(send("admin_#{record.class.model_name.route_key}_path")),
                    class: 'btn btn-default' %>
      </div>
    </div>
  </div>
<% end %>
