<li class="nav-item dropdown">
  <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
    Resources <span class="caret"></span>
  </a>
  <div class="dropdown-menu">
    <% @admin_resources.each do |resource| %>
      <%= link_to resource.model_name.human.titleize.pluralize, polymorphic_path([:admin, resource]), class: 'dropdown-item' %>
    <% end %>
  </div>
</li>
