<% if I18n.available_locales.length > 1 %>
  <div id="locale-selection" class="locale-selection panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        Language
      </h3>
    </div>
    <div class="panel-body">
      <ul class="nav nav-pills">
        <% I18n.available_locales.each_with_index do |locale, index| %>
          <% active_class = 'active' if index.zero? %>
          <%= content_tag :li, class: active_class do %>
            <%= link_to locale.to_s.upcase, "#locale-#{locale.to_s}", class: 'locale-tab', data: { locale: locale, toggle: 'tab' } %>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
