<%# TODO: catch errors in create action %>
<% block_errors = @blocks && @blocks.select { |index, block| block == f.object.block }.values.first.try(:errors) %>
<%# block_errors = @blocks && @blocks.values.select { |block| block.errors.present? } %>

<% if block_errors.present? %>
  <div class="alert alert-danger" role="alert">
    <% block_errors.messages.each do |error| %>
      <% error[1].each do |error_message| %>
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <%= error[0].to_s.titleize %>
        <%= error_message %>
      <% end %>
    <% end %>
  </div>
<% end %>
