<%# TODO: catch errors in create action %>
<% block_errors = @blocks && @blocks.select { |index, block| block == f.object.block }.values.first.try(:errors) %>
<%# block_errors = @blocks && @blocks.values.select { |block| block.errors.present? } %>

<% if block_errors.present? %>
  <ul class="block-errors">
    <% block_errors.messages.each do |error| %>
        <% error[1].each do |error_message| %>
          <li class="block-error">
            <strong>
              <%= error[0].to_s.titleize %>
              <%= error_message %>
            </strong>
          </li>
        <% end %>
    <% end %>
  </ul>
<% end %>
