<%= simple_form_for(@setting) do |f| %>
  <div class="row">
    <div class="col-sm-12">

      <div class="panel panel-default" data-collapse-parent>
        <div class="panel-body" data-collapse-body>
          <div class="form-inputs">
            <div class="row">
              <div class="col-sm-6">
                <%= render "settings/types/#{@setting.value_type}", f: f %>
                <%= f.button :submit, class: 'btn-success' %>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
<% end %>

<%= render 'media_items/modal' %>
