<div class="pl-2 ml-auto">
  <button type="button" class="block-slot-field__button--low-priority btn btn-xs btn-outline-secondary" data-block-add title="Add block">
    <%= bootstrap_icon('plus') %>
  </button>
  <%= link_to_remove_association f,
        class: 'block-slot-field__button--low-priority btn btn-xs btn-outline-secondary',
        title: 'Remove block',
        data: {
          confirm: "Are you sure you want to remove this block?" } do %>
    <%= bootstrap_icon('dash') %>
  <% end %>
</div>
