<div class="media-item--grid col-xs-4 col-sm-3 col-md-2">
  <% attachment_or_placeholder_url = media_item.attachment.exists? ? media_item.attachment.url(:medium) : nil %>
  <% content = capture do %>
    <% if media_item.file? %>
      <%= content_tag :span, '', class: "media-library-image--grid__icon glyphicon #{media_item.glyphicon}" %>
      <%= content_tag :div, media_item.attachment_file_name, class: "media-library-image__label well" %>
    <% end %>
  <% end %>
  <%= link_to edit_media_item_path(media_item), class: "media-library-link #{media_item.file? ? 'media-library-link--file' : 'media-library-link--image'}", data: { media_item_id: media_item.id, image_url: (image_url(attachment_or_placeholder_url) if media_item.image?) } do %>
    <%= content_tag :div, content, class: "media-library-image img-rounded #{'media-library-image--file' if media_item.file?}", style: "background-image: url(#{image_url(attachment_or_placeholder_url) if media_item.image?})" %>
  <% end %>
</div>
