<ul class="documentation-sidebar blank-list">
  <li><%= link_to 'General', documentation_path, class: "#{'active' if request.path == documentation_path}" %></li>
  <li><a href="#">Resources</a></li>
  <li><a href="#">Pages</a></li>
  <li><a href="#">Blocks</a></li>
  <li><a href="#">Media Items</a></li>
  <li><a href="#">Settings</a></li>
  <li><a href="#">Users</a></li>
  <li><a href="#">User Groups</a></li>
  <li><a href="#">Permissions</a></li>
  <li><a href="#">Bulk Import</a></li>
  <li><a href="#">Schedulable</a></li>
  <li><a href="#">Statusable</a></li>
  <li><a href="#">Versionable</a></li>
  <li><a href="#">About Forest</a></li>
</ul>
