<ul class="documentation-sidebar blank-list">
  <li><%= link_to 'General', documentation_path, class: "#{'active' if request.path == documentation_path}" %></li>
  <li>Resources</li>
  <li>Pages</li>
  <li>Blocks</li>
  <li>Media Items</li>
  <li>Settings</li>
  <li>Users</li>
  <li>User Groups</li>
  <li>Permissions</li>
  <li>Bulk Import</li>
  <li>Schedulable</li>
  <li>Statusable</li>
  <li>Versionable</li>
</ul>
