<div class="admin-header">
  <div class="well">
    <h1>
      Forest Documentation
      <small>A guide to using this CMS</small>
    </h1>
  </div>
</div>

<% content_for :body do %>
  <h3>Topics to cover</h3>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mauris est, faucibus eget euismod et, interdum eget magna. Sed aliquet mi in elit maximus laoreet. Pellentesque molestie sem faucibus, ornare massa non, venenatis metus. Phasellus sagittis, justo quis pellentesque posuere, dui nulla pulvinar nisl, vel fermentum dui turpis at lorem. Cras molestie, lectus id eleifend vehicula, ipsum turpis bibendum velit, id lacinia mi orci id metus. Nam aliquet nisl at dictum sodales. Nullam vitae risus nec turpis imperdiet fringilla. Vivamus quis ornare neque. Morbi lacus arcu, lobortis id tincidunt non, pellentesque non enim. Cras semper urna sem. Sed nisi lorem, aliquet vel auctor euismod, venenatis vel libero. Phasellus odio eros, lacinia in dictum iaculis, malesuada at ligula. Cras eu tristique orci, quis imperdiet ligula.</p>
  <p>Aliquam auctor enim vitae risus suscipit finibus. Nam sed erat nec nisl imperdiet consequat.</p>
  <p>
    <blockquote> Integer vulputate sit amet nulla at mattis. Mauris bibendum orci ut justo pellentesque, auctor elementum dolor tincidunt.</blockquote>
  </p>
  <p>Sed dignissim imperdiet nibh, eget sagittis ante. Nam metus diam, blandit vel sollicitudin non, cursus eu sem. Mauris a libero convallis, eleifend leo eu, convallis magna. Sed ornare suscipit quam sed mattis. Nunc justo elit, facilisis in velit non, ullamcorper elementum ante. Pellentesque arcu eros, iaculis sagittis elementum tincidunt, accumsan ac sem. Aliquam erat volutpat. Vivamus eros est, facilisis ut tortor at, commodo viverra sapien. Sed sodales dui pharetra maximus ultricies. Mauris aliquam metus lacus, quis malesuada nunc posuere ac. Aliquam elementum aliquet nunc ut eleifend. Morbi placerat risus sed sapien aliquet, imperdiet placerat magna vehicula.</p>
  <p>Aliquam ante augue, maximus a enim in, blandit gravida tortor. Maecenas eget volutpat sapien. Aliquam turpis ex, interdum ac purus faucibus, ornare aliquam ante. Ut quis efficitur augue. Vestibulum lobortis aliquet nulla eu aliquam. Maecenas non ante quis elit ullamcorper posuere vitae eget magna. Nulla dignissim lacus eget nulla interdum semper. Etiam quis interdum mauris. Ut fringilla eget metus sed volutpat. Nullam vestibulum enim sit amet tortor laoreet, ut lacinia mauris iaculis. Fusce eleifend scelerisque lectus in blandit. Donec sollicitudin lectus dui, vitae fringilla est facilisis eget. Sed posuere ipsum id tellus tristique iaculis.</p>
  <p>Aliquam in nunc non tortor pellentesque blandit. Nunc ac diam fermentum, posuere risus et, bibendum massa. Phasellus sed interdum tortor. Curabitur ultrices congue nibh at condimentum. Donec cursus justo enim, sit amet eleifend dui efficitur in. In sed elit in justo pulvinar tempor in vel dolor. Morbi varius nulla eget euismod fermentum.</p>
  <p>Fusce convallis facilisis sem eget accumsan. Nulla elementum commodo nulla a condimentum. Vivamus lacinia elit eget diam semper, at lacinia ex egestas. Suspendisse potenti. Nulla eget volutpat tellus. Aliquam tempor sodales orci, et porta nunc. Curabitur ut nisi tempus, luctus velit a, lobortis lacus. Donec ut lectus ac enim vulputate aliquam. In euismod viverra eros luctus laoreet.</p>
<% end %>

<%= render 'body' %>
