<div class="row">
  <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <%# TODO: create admin user in bootstrap process? %>
      <% if User.for_user_group_name('admin').present? %>
        <%= render 'default_login' %>
      <% else %>
        <%= render 'first_time_login' %>
      <% end %>
    </div>
  </div>
</div>
