// https://github.com/twbs/bootstrap-sass/blob/master/assets/stylesheets/bootstrap/_glyphicons.scss

@mixin glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Individual icons
@mixin glyphicon-asterisk               { @include glyphicon; content: "\002a"; }
@mixin glyphicon-plus                   { @include glyphicon; content: "\002b"; }
@mixin glyphicon-euro                   { @include glyphicon; content: "\20ac"; }
@mixin glyphicon-eur                    { @include glyphicon; content: "\20ac"; }
@mixin glyphicon-minus                  { @include glyphicon; content: "\2212"; }
@mixin glyphicon-cloud                  { @include glyphicon; content: "\2601"; }
@mixin glyphicon-envelope               { @include glyphicon; content: "\2709"; }
@mixin glyphicon-pencil                 { @include glyphicon; content: "\270f"; }
@mixin glyphicon-glass                  { @include glyphicon; content: "\e001"; }
@mixin glyphicon-music                  { @include glyphicon; content: "\e002"; }
@mixin glyphicon-search                 { @include glyphicon; content: "\e003"; }
@mixin glyphicon-heart                  { @include glyphicon; content: "\e005"; }
@mixin glyphicon-star                   { @include glyphicon; content: "\e006"; }
@mixin glyphicon-star-empty             { @include glyphicon; content: "\e007"; }
@mixin glyphicon-user                   { @include glyphicon; content: "\e008"; }
@mixin glyphicon-film                   { @include glyphicon; content: "\e009"; }
@mixin glyphicon-th-large               { @include glyphicon; content: "\e010"; }
@mixin glyphicon-th                     { @include glyphicon; content: "\e011"; }
@mixin glyphicon-th-list                { @include glyphicon; content: "\e012"; }
@mixin glyphicon-ok                     { @include glyphicon; content: "\e013"; }
@mixin glyphicon-remove                 { @include glyphicon; content: "\e014"; }
@mixin glyphicon-zoom-in                { @include glyphicon; content: "\e015"; }
@mixin glyphicon-zoom-out               { @include glyphicon; content: "\e016"; }
@mixin glyphicon-off                    { @include glyphicon; content: "\e017"; }
@mixin glyphicon-signal                 { @include glyphicon; content: "\e018"; }
@mixin glyphicon-cog                    { @include glyphicon; content: "\e019"; }
@mixin glyphicon-trash                  { @include glyphicon; content: "\e020"; }
@mixin glyphicon-home                   { @include glyphicon; content: "\e021"; }
@mixin glyphicon-file                   { @include glyphicon; content: "\e022"; }
@mixin glyphicon-time                   { @include glyphicon; content: "\e023"; }
@mixin glyphicon-road                   { @include glyphicon; content: "\e024"; }
@mixin glyphicon-download-alt           { @include glyphicon; content: "\e025"; }
@mixin glyphicon-download               { @include glyphicon; content: "\e026"; }
@mixin glyphicon-upload                 { @include glyphicon; content: "\e027"; }
@mixin glyphicon-inbox                  { @include glyphicon; content: "\e028"; }
@mixin glyphicon-play-circle            { @include glyphicon; content: "\e029"; }
@mixin glyphicon-repeat                 { @include glyphicon; content: "\e030"; }
@mixin glyphicon-refresh                { @include glyphicon; content: "\e031"; }
@mixin glyphicon-list-alt               { @include glyphicon; content: "\e032"; }
@mixin glyphicon-lock                   { @include glyphicon; content: "\e033"; }
@mixin glyphicon-flag                   { @include glyphicon; content: "\e034"; }
@mixin glyphicon-headphones             { @include glyphicon; content: "\e035"; }
@mixin glyphicon-volume-off             { @include glyphicon; content: "\e036"; }
@mixin glyphicon-volume-down            { @include glyphicon; content: "\e037"; }
@mixin glyphicon-volume-up              { @include glyphicon; content: "\e038"; }
@mixin glyphicon-qrcode                 { @include glyphicon; content: "\e039"; }
@mixin glyphicon-barcode                { @include glyphicon; content: "\e040"; }
@mixin glyphicon-tag                    { @include glyphicon; content: "\e041"; }
@mixin glyphicon-tags                   { @include glyphicon; content: "\e042"; }
@mixin glyphicon-book                   { @include glyphicon; content: "\e043"; }
@mixin glyphicon-bookmark               { @include glyphicon; content: "\e044"; }
@mixin glyphicon-print                  { @include glyphicon; content: "\e045"; }
@mixin glyphicon-camera                 { @include glyphicon; content: "\e046"; }
@mixin glyphicon-font                   { @include glyphicon; content: "\e047"; }
@mixin glyphicon-bold                   { @include glyphicon; content: "\e048"; }
@mixin glyphicon-italic                 { @include glyphicon; content: "\e049"; }
@mixin glyphicon-text-height            { @include glyphicon; content: "\e050"; }
@mixin glyphicon-text-width             { @include glyphicon; content: "\e051"; }
@mixin glyphicon-align-left             { @include glyphicon; content: "\e052"; }
@mixin glyphicon-align-center           { @include glyphicon; content: "\e053"; }
@mixin glyphicon-align-right            { @include glyphicon; content: "\e054"; }
@mixin glyphicon-align-justify          { @include glyphicon; content: "\e055"; }
@mixin glyphicon-list                   { @include glyphicon; content: "\e056"; }
@mixin glyphicon-indent-left            { @include glyphicon; content: "\e057"; }
@mixin glyphicon-indent-right           { @include glyphicon; content: "\e058"; }
@mixin glyphicon-facetime-video         { @include glyphicon; content: "\e059"; }
@mixin glyphicon-picture                { @include glyphicon; content: "\e060"; }
@mixin glyphicon-map-marker             { @include glyphicon; content: "\e062"; }
@mixin glyphicon-adjust                 { @include glyphicon; content: "\e063"; }
@mixin glyphicon-tint                   { @include glyphicon; content: "\e064"; }
@mixin glyphicon-edit                   { @include glyphicon; content: "\e065"; }
@mixin glyphicon-share                  { @include glyphicon; content: "\e066"; }
@mixin glyphicon-check                  { @include glyphicon; content: "\e067"; }
@mixin glyphicon-move                   { @include glyphicon; content: "\e068"; }
@mixin glyphicon-step-backward          { @include glyphicon; content: "\e069"; }
@mixin glyphicon-fast-backward          { @include glyphicon; content: "\e070"; }
@mixin glyphicon-backward               { @include glyphicon; content: "\e071"; }
@mixin glyphicon-play                   { @include glyphicon; content: "\e072"; }
@mixin glyphicon-pause                  { @include glyphicon; content: "\e073"; }
@mixin glyphicon-stop                   { @include glyphicon; content: "\e074"; }
@mixin glyphicon-forward                { @include glyphicon; content: "\e075"; }
@mixin glyphicon-fast-forward           { @include glyphicon; content: "\e076"; }
@mixin glyphicon-step-forward           { @include glyphicon; content: "\e077"; }
@mixin glyphicon-eject                  { @include glyphicon; content: "\e078"; }
@mixin glyphicon-chevron-left           { @include glyphicon; content: "\e079"; }
@mixin glyphicon-chevron-right          { @include glyphicon; content: "\e080"; }
@mixin glyphicon-plus-sign              { @include glyphicon; content: "\e081"; }
@mixin glyphicon-minus-sign             { @include glyphicon; content: "\e082"; }
@mixin glyphicon-remove-sign            { @include glyphicon; content: "\e083"; }
@mixin glyphicon-ok-sign                { @include glyphicon; content: "\e084"; }
@mixin glyphicon-question-sign          { @include glyphicon; content: "\e085"; }
@mixin glyphicon-info-sign              { @include glyphicon; content: "\e086"; }
@mixin glyphicon-screenshot             { @include glyphicon; content: "\e087"; }
@mixin glyphicon-remove-circle          { @include glyphicon; content: "\e088"; }
@mixin glyphicon-ok-circle              { @include glyphicon; content: "\e089"; }
@mixin glyphicon-ban-circle             { @include glyphicon; content: "\e090"; }
@mixin glyphicon-arrow-left             { @include glyphicon; content: "\e091"; }
@mixin glyphicon-arrow-right            { @include glyphicon; content: "\e092"; }
@mixin glyphicon-arrow-up               { @include glyphicon; content: "\e093"; }
@mixin glyphicon-arrow-down             { @include glyphicon; content: "\e094"; }
@mixin glyphicon-share-alt              { @include glyphicon; content: "\e095"; }
@mixin glyphicon-resize-full            { @include glyphicon; content: "\e096"; }
@mixin glyphicon-resize-small           { @include glyphicon; content: "\e097"; }
@mixin glyphicon-exclamation-sign       { @include glyphicon; content: "\e101"; }
@mixin glyphicon-gift                   { @include glyphicon; content: "\e102"; }
@mixin glyphicon-leaf                   { @include glyphicon; content: "\e103"; }
@mixin glyphicon-fire                   { @include glyphicon; content: "\e104"; }
@mixin glyphicon-eye-open               { @include glyphicon; content: "\e105"; }
@mixin glyphicon-eye-close              { @include glyphicon; content: "\e106"; }
@mixin glyphicon-warning-sign           { @include glyphicon; content: "\e107"; }
@mixin glyphicon-plane                  { @include glyphicon; content: "\e108"; }
@mixin glyphicon-calendar               { @include glyphicon; content: "\e109"; }
@mixin glyphicon-random                 { @include glyphicon; content: "\e110"; }
@mixin glyphicon-comment                { @include glyphicon; content: "\e111"; }
@mixin glyphicon-magnet                 { @include glyphicon; content: "\e112"; }
@mixin glyphicon-chevron-up             { @include glyphicon; content: "\e113"; }
@mixin glyphicon-chevron-down           { @include glyphicon; content: "\e114"; }
@mixin glyphicon-retweet                { @include glyphicon; content: "\e115"; }
@mixin glyphicon-shopping-cart          { @include glyphicon; content: "\e116"; }
@mixin glyphicon-folder-close           { @include glyphicon; content: "\e117"; }
@mixin glyphicon-folder-open            { @include glyphicon; content: "\e118"; }
@mixin glyphicon-resize-vertical        { @include glyphicon; content: "\e119"; }
@mixin glyphicon-resize-horizontal      { @include glyphicon; content: "\e120"; }
@mixin glyphicon-hdd                    { @include glyphicon; content: "\e121"; }
@mixin glyphicon-bullhorn               { @include glyphicon; content: "\e122"; }
@mixin glyphicon-bell                   { @include glyphicon; content: "\e123"; }
@mixin glyphicon-certificate            { @include glyphicon; content: "\e124"; }
@mixin glyphicon-thumbs-up              { @include glyphicon; content: "\e125"; }
@mixin glyphicon-thumbs-down            { @include glyphicon; content: "\e126"; }
@mixin glyphicon-hand-right             { @include glyphicon; content: "\e127"; }
@mixin glyphicon-hand-left              { @include glyphicon; content: "\e128"; }
@mixin glyphicon-hand-up                { @include glyphicon; content: "\e129"; }
@mixin glyphicon-hand-down              { @include glyphicon; content: "\e130"; }
@mixin glyphicon-circle-arrow-right     { @include glyphicon; content: "\e131"; }
@mixin glyphicon-circle-arrow-left      { @include glyphicon; content: "\e132"; }
@mixin glyphicon-circle-arrow-up        { @include glyphicon; content: "\e133"; }
@mixin glyphicon-circle-arrow-down      { @include glyphicon; content: "\e134"; }
@mixin glyphicon-globe                  { @include glyphicon; content: "\e135"; }
@mixin glyphicon-wrench                 { @include glyphicon; content: "\e136"; }
@mixin glyphicon-tasks                  { @include glyphicon; content: "\e137"; }
@mixin glyphicon-filter                 { @include glyphicon; content: "\e138"; }
@mixin glyphicon-briefcase              { @include glyphicon; content: "\e139"; }
@mixin glyphicon-fullscreen             { @include glyphicon; content: "\e140"; }
@mixin glyphicon-dashboard              { @include glyphicon; content: "\e141"; }
@mixin glyphicon-paperclip              { @include glyphicon; content: "\e142"; }
@mixin glyphicon-heart-empty            { @include glyphicon; content: "\e143"; }
@mixin glyphicon-link                   { @include glyphicon; content: "\e144"; }
@mixin glyphicon-phone                  { @include glyphicon; content: "\e145"; }
@mixin glyphicon-pushpin                { @include glyphicon; content: "\e146"; }
@mixin glyphicon-usd                    { @include glyphicon; content: "\e148"; }
@mixin glyphicon-gbp                    { @include glyphicon; content: "\e149"; }
@mixin glyphicon-sort                   { @include glyphicon; content: "\e150"; }
@mixin glyphicon-sort-by-alphabet       { @include glyphicon; content: "\e151"; }
@mixin glyphicon-sort-by-alphabet-alt   { @include glyphicon; content: "\e152"; }
@mixin glyphicon-sort-by-order          { @include glyphicon; content: "\e153"; }
@mixin glyphicon-sort-by-order-alt      { @include glyphicon; content: "\e154"; }
@mixin glyphicon-sort-by-attributes     { @include glyphicon; content: "\e155"; }
@mixin glyphicon-sort-by-attributes-alt { @include glyphicon; content: "\e156"; }
@mixin glyphicon-unchecked              { @include glyphicon; content: "\e157"; }
@mixin glyphicon-expand                 { @include glyphicon; content: "\e158"; }
@mixin glyphicon-collapse-down          { @include glyphicon; content: "\e159"; }
@mixin glyphicon-collapse-up            { @include glyphicon; content: "\e160"; }
@mixin glyphicon-log-in                 { @include glyphicon; content: "\e161"; }
@mixin glyphicon-flash                  { @include glyphicon; content: "\e162"; }
@mixin glyphicon-log-out                { @include glyphicon; content: "\e163"; }
@mixin glyphicon-new-window             { @include glyphicon; content: "\e164"; }
@mixin glyphicon-record                 { @include glyphicon; content: "\e165"; }
@mixin glyphicon-save                   { @include glyphicon; content: "\e166"; }
@mixin glyphicon-open                   { @include glyphicon; content: "\e167"; }
@mixin glyphicon-saved                  { @include glyphicon; content: "\e168"; }
@mixin glyphicon-import                 { @include glyphicon; content: "\e169"; }
@mixin glyphicon-export                 { @include glyphicon; content: "\e170"; }
@mixin glyphicon-send                   { @include glyphicon; content: "\e171"; }
@mixin glyphicon-floppy-disk            { @include glyphicon; content: "\e172"; }
@mixin glyphicon-floppy-saved           { @include glyphicon; content: "\e173"; }
@mixin glyphicon-floppy-remove          { @include glyphicon; content: "\e174"; }
@mixin glyphicon-floppy-save            { @include glyphicon; content: "\e175"; }
@mixin glyphicon-floppy-open            { @include glyphicon; content: "\e176"; }
@mixin glyphicon-credit-card            { @include glyphicon; content: "\e177"; }
@mixin glyphicon-transfer               { @include glyphicon; content: "\e178"; }
@mixin glyphicon-cutlery                { @include glyphicon; content: "\e179"; }
@mixin glyphicon-header                 { @include glyphicon; content: "\e180"; }
@mixin glyphicon-compressed             { @include glyphicon; content: "\e181"; }
@mixin glyphicon-earphone               { @include glyphicon; content: "\e182"; }
@mixin glyphicon-phone-alt              { @include glyphicon; content: "\e183"; }
@mixin glyphicon-tower                  { @include glyphicon; content: "\e184"; }
@mixin glyphicon-stats                  { @include glyphicon; content: "\e185"; }
@mixin glyphicon-sd-video               { @include glyphicon; content: "\e186"; }
@mixin glyphicon-hd-video               { @include glyphicon; content: "\e187"; }
@mixin glyphicon-subtitles              { @include glyphicon; content: "\e188"; }
@mixin glyphicon-sound-stereo           { @include glyphicon; content: "\e189"; }
@mixin glyphicon-sound-dolby            { @include glyphicon; content: "\e190"; }
@mixin glyphicon-sound-5-1              { @include glyphicon; content: "\e191"; }
@mixin glyphicon-sound-6-1              { @include glyphicon; content: "\e192"; }
@mixin glyphicon-sound-7-1              { @include glyphicon; content: "\e193"; }
@mixin glyphicon-copyright-mark         { @include glyphicon; content: "\e194"; }
@mixin glyphicon-registration-mark      { @include glyphicon; content: "\e195"; }
@mixin glyphicon-cloud-download         { @include glyphicon; content: "\e197"; }
@mixin glyphicon-cloud-upload           { @include glyphicon; content: "\e198"; }
@mixin glyphicon-tree-conifer           { @include glyphicon; content: "\e199"; }
@mixin glyphicon-tree-deciduous         { @include glyphicon; content: "\e200"; }
@mixin glyphicon-cd                     { @include glyphicon; content: "\e201"; }
@mixin glyphicon-save-file              { @include glyphicon; content: "\e202"; }
@mixin glyphicon-open-file              { @include glyphicon; content: "\e203"; }
@mixin glyphicon-level-up               { @include glyphicon; content: "\e204"; }
@mixin glyphicon-copy                   { @include glyphicon; content: "\e205"; }
@mixin glyphicon-paste                  { @include glyphicon; content: "\e206"; }
@mixin glyphicon-alert                  { @include glyphicon; content: "\e209"; }
@mixin glyphicon-equalizer              { @include glyphicon; content: "\e210"; }
@mixin glyphicon-king                   { @include glyphicon; content: "\e211"; }
@mixin glyphicon-queen                  { @include glyphicon; content: "\e212"; }
@mixin glyphicon-pawn                   { @include glyphicon; content: "\e213"; }
@mixin glyphicon-bishop                 { @include glyphicon; content: "\e214"; }
@mixin glyphicon-knight                 { @include glyphicon; content: "\e215"; }
@mixin glyphicon-baby-formula           { @include glyphicon; content: "\e216"; }
@mixin glyphicon-tent                   { @include glyphicon; content: "\26fa"; }
@mixin glyphicon-blackboard             { @include glyphicon; content: "\e218"; }
@mixin glyphicon-bed                    { @include glyphicon; content: "\e219"; }
@mixin glyphicon-apple                  { @include glyphicon; content: "\f8ff"; }
@mixin glyphicon-erase                  { @include glyphicon; content: "\e221"; }
@mixin glyphicon-hourglass              { @include glyphicon; content: "\231b"; }
@mixin glyphicon-lamp                   { @include glyphicon; content: "\e223"; }
@mixin glyphicon-duplicate              { @include glyphicon; content: "\e224"; }
@mixin glyphicon-piggy-bank             { @include glyphicon; content: "\e225"; }
@mixin glyphicon-scissors               { @include glyphicon; content: "\e226"; }
@mixin glyphicon-bitcoin                { @include glyphicon; content: "\e227"; }
@mixin glyphicon-btc                    { @include glyphicon; content: "\e227"; }
@mixin glyphicon-xbt                    { @include glyphicon; content: "\e227"; }
@mixin glyphicon-yen                    { @include glyphicon; content: "\00a5"; }
@mixin glyphicon-jpy                    { @include glyphicon; content: "\00a5"; }
@mixin glyphicon-ruble                  { @include glyphicon; content: "\20bd"; }
@mixin glyphicon-rub                    { @include glyphicon; content: "\20bd"; }
@mixin glyphicon-scale                  { @include glyphicon; content: "\e230"; }
@mixin glyphicon-ice-lolly              { @include glyphicon; content: "\e231"; }
@mixin glyphicon-ice-lolly-tasted       { @include glyphicon; content: "\e232"; }
@mixin glyphicon-education              { @include glyphicon; content: "\e233"; }
@mixin glyphicon-option-horizontal      { @include glyphicon; content: "\e234"; }
@mixin glyphicon-option-vertical        { @include glyphicon; content: "\e235"; }
@mixin glyphicon-menu-hamburger         { @include glyphicon; content: "\e236"; }
@mixin glyphicon-modal-window           { @include glyphicon; content: "\e237"; }
@mixin glyphicon-oil                    { @include glyphicon; content: "\e238"; }
@mixin glyphicon-grain                  { @include glyphicon; content: "\e239"; }
@mixin glyphicon-sunglasses             { @include glyphicon; content: "\e240"; }
@mixin glyphicon-text-size              { @include glyphicon; content: "\e241"; }
@mixin glyphicon-text-color             { @include glyphicon; content: "\e242"; }
@mixin glyphicon-text-background        { @include glyphicon; content: "\e243"; }
@mixin glyphicon-object-align-top       { @include glyphicon; content: "\e244"; }
@mixin glyphicon-object-align-bottom    { @include glyphicon; content: "\e245"; }
@mixin glyphicon-object-align-horizontal{ @include glyphicon; content: "\e246"; }
@mixin glyphicon-object-align-left      { @include glyphicon; content: "\e247"; }
@mixin glyphicon-object-align-vertical  { @include glyphicon; content: "\e248"; }
@mixin glyphicon-object-align-right     { @include glyphicon; content: "\e249"; }
@mixin glyphicon-triangle-right         { @include glyphicon; content: "\e250"; }
@mixin glyphicon-triangle-left          { @include glyphicon; content: "\e251"; }
@mixin glyphicon-triangle-bottom        { @include glyphicon; content: "\e252"; }
@mixin glyphicon-triangle-top           { @include glyphicon; content: "\e253"; }
@mixin glyphicon-console                { @include glyphicon; content: "\e254"; }
@mixin glyphicon-superscript            { @include glyphicon; content: "\e255"; }
@mixin glyphicon-subscript              { @include glyphicon; content: "\e256"; }
@mixin glyphicon-menu-left              { @include glyphicon; content: "\e257"; }
@mixin glyphicon-menu-right             { @include glyphicon; content: "\e258"; }
@mixin glyphicon-menu-down              { @include glyphicon; content: "\e259"; }
@mixin glyphicon-menu-up                { @include glyphicon; content: "\e260"; }
