@mixin small-gutters {
  padding-left: $gutter / 2;
  padding-right: $gutter / 2;

  [class*="col-xs-"],
  [class*="col-sm-"],
  [class*="col-md-"],
  [class*="col-lg-"] {
    padding-left: $gutter / 2;
    padding-right: $gutter / 2;
  }
}
.small-gutters { @include small-gutters; }
