<%= simple_form_for([:admin, @setting]) do |f| %>
  <div class="row">
    <% if @setting.description.present? %>
      <div class="col-sm-6">
        <div class="well text-muted">
          <%= md @setting.description %>
        </div>
      </div>
    <% end %>
    <div class="col-sm-12">
      <div class="panel panel-default" data-collapse-parent>
        <div class="panel-body" data-collapse-body>
          <div class="form-inputs">
            <div class="row">
              <div class="col-sm-12">
                <%= render "admin/settings/types/#{@setting.value_type}", f: f %>
                <%= f.button :submit, class: 'btn-success' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
