<ul class="documentation-sidebar blank-list">
  <li><%= link_to 'General', admin_documentation_path %></li>
  <li><a href="#general">Resources</a></li>
  <li><a href="#pages">Pages</a></li>
  <li><a href="#blocks">Blocks</a></li>
  <li><a href="#media-items">Media Items</a></li>
  <li><a href="#settings">Settings</a></li>
  <li><a href="#users">Users</a></li>
  <li><a href="#user-groups">User Groups</a></li>
  <li><a href="#permissions">Permissions</a></li>
  <li><a href="#bulk-import">Bulk Import</a></li>
  <li><a href="#schedulable">Schedulable</a></li>
  <li><a href="#statusable">Statusable</a></li>
  <li><a href="#versionable">Versionable</a></li>
  <li><a href="#about-forest">About Forest</a></li>
</ul>
