<% options = {} %>
<% options.merge!({ as: :hidden }) if local_assigns.fetch(:hidden, false).present? %>
<%= f.input :slug,
            placeholder: 'Leave blank to automatically generate a slug from the title.',
            required: false,
            wrapper_class: 'form-group slug-attribute-wrapper',
            readonly: local_assigns.fetch(:readonly, nil),
            disabled: local_assigns.fetch(:disabled, nil),
            **options,
            input_html: {
              data: {
                persisted_value: f.object.try(:slug),
                persisted_value_warning: '<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> You are changing the slug. Make sure to update any hardcoded references to the old slug to avoid broken links.' } } %>
