<p>Find me in app/views/forest/translations/show.html.erb</p>

<%# content_for :page_description, @translation.description if @translation.try(:description).present? %>
<%# content_for :page_featured_image, @translation.featured_image.attachment.url(:large) if @translation.try(:featured_image).present? %>

<p>
  <b>Key</b>
  <%= @translation.key %>
</p>
<p>
  <b>Value</b>
  <%= @translation.value %>
</p>
<p>
  <b>Description</b>
  <%= @translation.description %>
</p>

<%= render_blocks @translation.blocks if @translation.try(:blocks).present? %>
